@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
}

#pricing-cards {
    background-color: #f4f4f4;
    font-family: "Geist", sans-serif;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price-cards {
    min-width: 353px;
    border-radius: 37px;
    background: linear-gradient(180deg, #fff 0%, #e3e3e3 30%, #FFFFFF 100%);
}

.price-section {
    padding: 14px 15px;
    border-radius: 21px;
}

.price-card-features {
    padding: 0 23px;
}

#price-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(353px, 360px));
}

button {
    background: linear-gradient(180deg, #474747 10%, #1a1a1a 80%, #090909 100%);
    font-weight: 400;
}

button:hover {
    background: linear-gradient(180deg, #474747 10%, #000000 50%, #090909 100%);
    font-size: 18.1px;
    font-weight: 500;
}